<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DES Demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0/css/bulma.min.css">
  <style>
    @media (prefers-color-scheme: dark) {
      .hero.is-light {
        background-color: black;
      }
      .hero.is-light .title {
        color: var(--bulma-white-ter);
      }
      .hero.is-light .subtitle {
        color: var(--bulma-grey-light);
      }
    }

    #form:has(#input_mode option[value='cbc']:not(:checked)) .cbc-only {
      display: none !important;
    }
  </style>
</head>
<body>
<section class="hero is-light">
  <div class="hero-body">
    <h1 class="title">
      DES Demo
    </h1>
    <p class="subtitle is-6 mt-3">
      <span>22080206</span>
      <span class="ml-4">敬博浩</span>
    </p>
  </div>
</section>
<form id="form" class="section">
  <div class="columns">
    <div class="column">
      <div class="field">
        <label for="input_text" class="label">
          Plaintext
        </label>
        <div class="control">
        <textarea
          id="input_text"
          class="textarea is-medium has-fixed-size"
          name="text"
          placeholder="Input plaintext..."
        ></textarea>
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="text_type" value="plain" checked>
            Plaintext
          </label>
          <label class="radio">
            <input type="radio" name="text_type" value="base64">
            Base64
          </label>
          <label class="radio">
            <input type="radio" name="text_type" value="hex">
            Hex
          </label>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label for="input_cipher" class="label">Ciphertext</label>
        <div class="control">
        <textarea
          id="input_cipher"
          class="textarea is-medium has-fixed-size"
          name="cipher"
          placeholder="Input ciphertext..."
        ></textarea>
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="cipher_type" value="base64" checked>
            Base64
          </label>
          <label class="radio">
            <input type="radio" name="cipher_type" value="hex">
            Hex
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-flex-grow-0 is-flex-shrink-0">
      <div class="field">
        <label for="input_mode" class="label">
          Mode
        </label>
        <div class="control">
          <div class="select">
            <select id="input_mode" name="mode">
              <option value="ecb" selected>
                ECB
              </option>
              <option value="cbc">
                CBC
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label for="input_key" class="label">
          Secret Key
        </label>
        <div class="field has-addons mb-0">
          <div class="control is-expanded">
            <input id="input_key" class="input" type="text" name="key" placeholder="Input a 64-bit secret key...">
          </div>
          <div class="control">
            <button id="button_generate-key" type="button" class="button is-dark">
              Generate
            </button>
          </div>
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="key_type" value="plain" checked>
            Plaintext
          </label>
          <label class="radio">
            <input type="radio" name="key_type" value="base64">
            Base64
          </label>
          <label class="radio">
            <input type="radio" name="key_type" value="hex">
            Hex
          </label>
        </div>
      </div>
    </div>
    <div class="column cbc-only">
      <div class="field">
        <label for="input_iv" class="label">
          Initialization Vector
        </label>
        <div class="control">
          <input id="input_iv" class="input" type="text" name="iv" placeholder="Input a 64-bit iv value...">
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="iv_type" value="plain" checked>
            Plaintext
          </label>
          <label class="radio">
            <input type="radio" name="iv_type" value="base64">
            Base64
          </label>
          <label class="radio">
            <input type="radio" name="iv_type" value="hex">
            Hex
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <div class="columns is-mobile">
        <div class="column has-text-right">
          <button type="submit" class="button is-dark is-fullwidth" data-type="encrypt" data-excludes="cipher">
            Encrypt
          </button>
        </div>
        <div class="column">
          <button type="submit" class="button is-dark is-fullwidth" data-type="decrypt" data-excludes="text">
            Decrypt
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  (function () {
    const submit = (url, init) => {
      return fetch(url, Object.assign({
        cache: 'no-cache'
      }, (init || {}))).then((res) => {
        if (!res.ok) {
          console.error(res)
          alert('Request Failed\n' + res.statusText)
          return
        }
        res.json().then(({ success, message, data }) => {
          if (!success) {
            console.error(res)
            alert('Request Failed\n' + message)
            return
          }
          Object.entries(data).forEach(([name, value]) => {
            const el = document.getElementsByName(name)
            if (el.length === 0) {
              return
            }
            if (el[0].type === 'radio') {
              el.forEach((radio) => {
                radio.checked = radio.value === value
              })
            } else {
              el[0].value = value
            }
          })
        })
      }).catch((e) => {
        console.error(e)
        alert('Request Failed\n' + e.message)
      })
    }

    document.getElementById('form').addEventListener('submit', (e) => {
      e.preventDefault()
      return false
    })
    document.querySelectorAll('#form [type="submit"]').forEach((btn) => {
      btn.addEventListener('click', () => {
        const data = {
          type: btn.getAttribute('data-type')
        }
        const formData = new FormData(document.getElementById('form'))
        formData.forEach((value, name) => {
          data[name] = value
        })
        const excludes = (btn.getAttribute('data-excludes') ?? '').split(',')
        excludes.forEach((name) => {
          delete data[name]
        })
        submit('des', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
      })
    })
    document.getElementById('button_generate-key').addEventListener('click', () => {
      submit('des/key')
    })
  })();
</script>
</body>
</html>
